.d-grid {
    display: grid;
}
.d-grid-index {
    grid-template: repeat(3, 100px)/repeat(3,100px);
    position: relative;
}
/*.d-grid-index div:nth-child(1) {*/
/*    position: absolute;*/
/*    grid-column: 2/3;*/
/*}*/
.d-grid-first div {
    opacity: 50%;
}
.d-grid-first div:nth-child(1) {
    position: absolute;
    top: 20px;
    left: 0;
}
.d-grid-first div:nth-child(6) {
    position: absolute;
    bottom: 40px;
    left: 0;
}
.d-grid-second {
    grid-template: repeat(2,100px)/repeat(3,1fr);
}
.d-grid-second div:last-child {
    order: -1;
}